@import "./vars.css";

.App {
    background: linear-gradient(180deg, 
        #000000 0%,
        #1a1a1a 33%,
        #1a1a1a 66%,
        #000000 100%
    );
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}